<!DOCTYPE html> 
<html lang = "en"> 


<style>
	html{
		background-color: rgb(28, 44, 65);
	}
</style>


<body> 
	<form action = "" method = "post"> 

		<div class = "encabezado">
			<h1> Sistema "el tio" </h1>
		</div>

		<div class = "loginForm">

			<h1> ¡Hola de nuevo! </h1>

			<h2> e-mail </h2> 
			<input type = "email" name = "email" placeholder = " nombre@ejemplo.com"> 

			<h2> Contraseña </h2> 
			<input type = "password" name = "password" placeholder = " ●●●●●●●●●●"> 

			<button class = "btn" id = "loginButton" style="width: 150px;"> 
				Iniciar Sesion
			</button> 

			<h3>
				<a href = "recoverPassword.html" class = "missPasswordButton">
					¿No recuerdas tu contraseña? Prueba otro metodo
				</a>
			</h3>


		</div> 

	</form> 

</body> 

</html> 