<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title> Pagina principal </title>
</head>

<body>
    <style>
        html {
            background-color: rgb(28, 44, 65);
        }
    </style>

    <h1 style = "color: white">
        Estas logeado
    </h1>
</body>
</html>